
<div class="container-fluid">
    <p class="lead bg-info">
    The contact tracking system basically provides list of all contacts from the contacts database. The contact system provides the
    ability to add or edit the contacts. It also allows the user to search the contact by first name, last name, email etc.
    New features will be added to the contact system in future.
    </p>
</div>
