@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container-md">
<h1 class="display-4">@ViewData["Title"]</h1>

<p class="lead bg-info">This application is only for demo purpose. The data is fictituous and does not contain any sensitive data. </p>
</div>
