@{
    ViewBag.Title = "Error";
}

<div class="text-center">
    <h1>Error</h1>
    <h2 class="text-red">Error occurred during the execution of the application. Please contact the system administrator</h2>
    <img src="~/error.png" width="500px" style="margin-top:100px"/>
</div>